*  {
  font-family: 'Sedgwick Ave Display', cursive;
}
h1  {
text-align: center;
}
img {
  height: 100%;
  width: 100%;
}
footer img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
footer {
text-align: center;
}
form input  {
  background-color: transparent;
  border-radius: 15px;
  border-color: black;
  border-width: 2px;
}

#squaddetails {
  background-image: url(../images/squads.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
   padding-bottom: 100px;
   padding-left: 50px;
   padding-right: 50px;
   color: white;
   opacity: 0.8;
	 height: 80vh;
}
#landing {
  background-image: url(../images/justice-league.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  opacity: 0.8;
  height: 100vh;
}
#heroesdetails {
  background-image: url(../images/ivy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  opacity: 0.8;
  height: 80vh;
}

#squadform {
background-image: url(../images/batman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  opacity: 0.8;
  height: 80vh;
}
#heroesform {
background-image: url(../images/villains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  opacity: 0.8;
}


.overlay-text  {
  font-size: 50px;
}
.hdetails  {
	text-align: center;
}
