{{#block "header"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{#block "title"}}Hero Squad!!{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
{{/block}}
    <body>
        <div class="container-fluid">
            <div class="row">
                {{#block "content"}}
                {{/block}}
            </div>
        </div>
{{#block "footer"}}
    <footer>
        <hr>
        <p><img src='/images/copyright.png' alt="">2022 HeroSquad</p>
    </footer>
    </body>
</html>
{{/block}}